:root {
  --primary-color: #332E3C;
  --secondary-color: #534351;

  --light-color: #EEE4CF;
  --highlight-color: #fff;
  --accent-color: #B19271;
  
  /*background colors */
  --bg-1: var(--primary-color);
  --bg-2: var(--secondary-color);

  /*text colors*/
  --text-color: #fff;
  --text-color-heading: var(--light-color);
  --text-color-weak: var(--light-color);
}