:root {
  --primary-color: #003135;
  --secondary-color: #024950;

  --primary-contrast-color: #fff;
  --secondary-contrast-color: #afdde5;
  --tertiary-contrast-color: #964734;
  
  /*background colors */
  --bg-1: var(--primary-color);
  --bg-2: var(--secondary-color);

  /*text colors*/
  --text-primary-color: var(--primary-contrast-color);
  --text-secondary-color: var(--secondary-contrast-color);
  --text-highlight-color: var(--tertiary-contrast-color);
  --text-primary-inverse-color: var(--primary-color);
  --text-secondary-inverse-color: var(--secondary-color);

  --text-color: var(--text-primary-color);
  --text-color-heading: var(--text-secondary-color);
  --text-color-weak: var(--text-secondary-color);
  --link-color: var(--text-highlight-color);
  --link-color-focus: var(--text-secondary-color);
  --button-primary-text-color: var(--text-primary-inverse-color);
  --button-secondary-text-color: var(--text-secondary-inverse-color);
}