.contact-section {
  padding-bottom: 20px;
}
.contact-container {
  display: flex;
  flex-direction: column;

  text-align: left;
  justify-content: left;
  align-items: normal;

  max-width: 800px;

  padding-block: 40px;
}
.contact-container a {
  display: block;
  margin-bottom: 10px;

  /* link text */
  font-family: "Lato", sans-serif;
  font-size: 16pt;
  font-weight: 300;

  color: var(--link-color);

  width: fit-content;
}
.contact-container a:hover {
  color: var(--link-color-focus);
}
.contact-container a:focus {
  color: var(--link-color-focus);
}
.contact-address {
  font-family: "Lato", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  font-style: normal;

  color: var(--text-color);
}