/* general style settings for elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body {
  display: block;
  flex-direction: column;
}
main {
  background-color: var(--bg-1);
  padding-bottom: 40px;
}

/* attribute classes */
.display-block {
  display: block;
}
.display-flex-vertically-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.align-right {
  align-items: end;
}

/* default styles for html tags */

ul {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16pt;
}